:root.theme-dark {
  --accent-color: var(--real-red);
  --bg-color: var(--approximately-black);
  --decoration-color: var(--real-red);
  --button-color: var(--real-red);
  --decor-color: var(--approximately-black);
  --decor-bg-color: var(--real-red);
  --main-bg-color: var(--approximately-black);
  --main-text-color: var(--title-pink);
  --nav-color: var(--approximately-black);
  --nav-hover-color: var(--transparent-red);
  --main-heading-color: var(--real-red);
  --header-logo-color: var(--title-color-dark);
  --footer-logo-color: var(--title-color-dark);
  --background-image: url("../images/cover-image-dark.png");
}
@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: var(--real-red);
    --bg-color: var(--approximately-black);
    --decoration-color: var(--real-red);
    --button-color: var(--real-red);
    --decor-color: var(--approximately-black);
    --decor-bg-color: var(--real-red);
    --main-bg-color: var(--approximately-black);
    --main-text-color: var(--title-pink);
    --nav-color: var(--real-red);
    --nav-hover-color: var(--transparent-red);
    --main-heading-color: var(--real-red);
    --header-logo-color: var(--title-color-dark);
    --footer-logo-color: var(--title-color-dark);
    --background-image: url("../images/cover-image-dark.png");
  }
  .rec_lable::after {
    display: inline-block;
  }
  .rec_lable {
    display: inline-flex;
  }
}

.theme-dark .rec_lable::after {
  display: inline-block;
}
.theme-dark .rec_lable {
  display: inline-flex;
}