/* Глобальные стили для проекта, их можно дополнять и менять по желанию */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  min-inline-size: 375px;
  max-inline-size: 1440px;
}
.page {
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: var(--font-weight-general);
  font-size: var(--font-size-general);
  line-height: 23.4px;
}
h2 {
  font-weight: var(--font-weight-accident);
  font-size: var(--font-size-general);
}
h3 {
  font-weight: var(--font-weight-accident);
  font-size: var(--font-size-general);
}
h4 {
  font-weight: var(--font-weight-general);
  font-size: var(--font-size-general);
}
figure {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}