:root {
  --background-image-page: url("../images/cover-image-dark.png");
  --bacground-color-title: #ff0070;
  --color-title: #db00ff;
  --color-title-accident: #ff0070;
  --color-title-shadow: #ff0070;
  --color-menu: #ff0070;
  --color-text-paragraph: #f1b2ce;
  --color-text-title: #000028;
  --color-rec-decoration:#ff0070;

  --font-size-general: 18px;
  --font-weight-general: 400;
  --font-weight-accident: 700;
  --indention-header: 40px;
  --indention-section: 50px;
  --indention-global: 10px;
  --indantion-title: 20px;
  --intro-height: 668px;
  --word-shadow: #ff0070;
}
@media (width >= 768px) {
  :root {
    --indention-header: 60px;
    --indention-section: 80px;
    --indention-global: 20px;
    --intro-height: 1024px;
  }
}
@media (width >= 1024px) {
  :root {
    --intro-height: 768px;
  }
}