:root {
  --title-color-light: #ffc2e6;
  --basic-pink: #ff8dcb;
  --title-pink: #f1b2ce;
  --real-red: #ff0070;
  --approximately-white: #FFF1F7;
  --approximately-black: #000028;
  --almost-black: #353430;
  --transparent-black: #35343066;
  --transparent-red: #ff007066;
  --title-color-dark: #db00ff;
  --regular-font-size: 18px;
  --regular-line-height: 100%;
  --decoration-gap: clamp(10px, 2.65vw, 20px);
  --margin-small: 10px;
  --margin-medium: 20px;
  --margin-large: 40px;
  --margin-x-large: 50px;
  --margin-xl: 80px;
  --min-height: 668px;
  --project-font-family: "IBM Plex Mono", monospace;
  --corner-thickness: 1px;
  --accent-color: var(--real-red);
  --bg-color: var(--approximately-black);
  --decoration-color: var(--real-red);
  --button-color: var(--real-red);
  --decor-color: var(--approximately-black);
  --decor-bg-color: var(--real-red);
  --main-bg-color: var(--approximately-black);
  --main-text-color: var(--title-pink);
  --nav-color: var(--approximately-black);
  --nav-hover-color: var(--transparent-red);
  --main-heading-color: var(--real-red);
  --header-logo-color: var(--title-color-dark);
  --footer-logo-color: var(--title-color-dark);
  --background-image: url("../images/cover-image-dark.png");
}